html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  line-height: 1
}
:focus {
  outline: 0
}
ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
blockquote:before, blockquote:after, q:before, q:after {
  content: ''
}
blockquote, q {
  quotes: '' ''
}
input, textarea {
  margin: 0;
  padding: 0
}
hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px
}
a{
  text-decoration: none;
}
#app{
  height: 100%;
}
::-webkit-scrollbar{width:12px;height:12px}
::-webkit-scrollbar-thumb{border-width:2px;border-style:solid;border-color:#fff;border-radius:6px;background-color:#c6c6c6}
::-webkit-scrollbar-thumb:hover{background:#999}
